$blue:#2D96E9;
$blue-primary:#3598db;
$blue-light:#4FC7E8;
$blue-draw:#67A3BC;
$blue-deep:#2d3e50;
$green:#4fd2c2;
$green-light:#7FD17C;
$green-dark:#598102;
$orange:#FF8702;
$red:#ee5f5b;
$red-dark:#E53206;
$gray:#c2c2c2;
$gray-light:#dbdbdb;
$gray-inactive:#ccc;
$gray-text: #a3a3a3;
$gray-bg: #ECECEC;
$gray-bg-light: #f1f1f1;
$color-bg:#f1f1f1;
$color-border: #e7e7e9;
$color-text:#949494;
$color-text-light:#ccc;
$color-btn:#4fd2c2;
$color-btn-disabled:#333;