:global {
@import 'color';

  ::-webkit-scrollbar{width:0px}

  .mobile-wrapper{
    position: fixed;
    width: 100%;
    top:60px;bottom:0;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    box-shadow: none;

    &.frame{
      border-left: 1px solid #ddd;
      margin:0 0 0 -1px;
    }
  }

  .position-relative{
    position: relative;
  }

  input,
  input:focus,
  textarea,
  textarea:focus {
      outline: 0
  }
  .mobile-from{

      .label-form {
          font-weight: 700;
          margin-bottom: 0;
          color: #ccc;
          font-size: 9px;
          line-height: 11px;
          letter-spacing: 1px;
      }

      .block-input-combined, .radio-button {
          position: relative;
      }

      .w-input, .w-select {
          display: block;
          width: 100%;
          height: 38px;
          padding: 8px 12px;
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 1.428571429;
          color: #555;
          vertical-align: middle;
          background-color: #fff;
          border: 1px solid #ccc;
      }

      .input-form {
          width: 100%;
          height: 38px;
          padding-right: 0;
          padding-left: 0;
          border-style: none none solid;
          border-bottom-width: 1px;
          border-bottom-color: #e6e6e6;
          border-radius: 0;
          background-color: transparent;
          color: #222;
          font-size: 14px;
      }
      .input-form:focus {
          border-bottom-color: #4fd2c2
      }
      .input-form.error{
        border-bottom-color: $red;
      }


      .right-input-icon {
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block;
          width: 37px;
          height: 37px;
          color: #dbdbdb;
          font-size: 18px;
          line-height: 36px;
          text-align: right
      }

      .right-input-icon.color {
          margin-right: 0;
          color: #4fd2c2;
          text-align: center
      }

      .right-input-icon.search {
          margin-right: 0;
          padding-top: 2px;
          padding-right: 3px;
          text-align: center
      }

      .ui-hint{
        position: absolute;
        right:0;
        top:0;
        line-height: 38px;
        display: inline-block;
        font-size: 12px;
        color:$gray;
        letter-spacing: 0.1em;
      }
  }

  .single-line{
    text-overflow:ellipsis;white-space:nowrap;overflow:hidden
  }

  .text{
    &.h1{
      font-size: 32px;
    }
    &.h2{
      font-size: 24px;
    }
    &.h3{
      font-size: 18px;
    }
    &.h4{
      font-size: 14px;
    }
    &.h5{
      font-size: 12px;
    }
    &.h6{
      font-size: 10px;
    }
    
    &.center{
      text-align: center;
    }
    &.ws{
      text-shadow: 0 1px white;
    }
    &.ls{
      letter-spacing: .1em;
    }

    &.row24{
      height: 2.4em;
      overflow: hidden;
    }
    &.row30{
      height: 3em;
      overflow: hidden;
    }

    &.bold{
      font-weight: bold;
    }

    &.p{
      line-height: 1.6em;
      margin-bottom: .5em;
    }
    &.lh16{
      line-height: 1.6em;
    }
    &.lh20{
      line-height: 2.0em;
    }

    &.left-block{
      border-left: .5em solid $gray;
      padding-left: .5em;
    }
    
  }

  .action-button {
      width: 100%;
      height: 51px;
      padding: 12px;
      border-radius: 2px;
      background-color: $green;
      color: #fff;
      font-size: 15px;
      line-height: 26px;
      text-decoration: none;
      border: 0;
      text-align: center;
      display: inline-block;

      &[disabled]{
        background-color:#333;
      }
  }

  .border-bottom{
    border-bottom: 1px solid $color-border;
  }
  .border-top{
    border-top: 1px solid $color-border;
  }


  .button {
    letter-spacing: 1px;

    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    line-height: 40px;
    min-height: 40px;
    white-space: nowrap;
    min-width: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    background: $color-btn;
    color:white;

    &.dark{
      background: $color-btn-disabled;
    }

    &.small{
      font-size: 10px;
      line-height: 28px;
      min-height: 28px;
      min-width: 60px;
    }

    &[disabled='disabled']{
      background: $gray-inactive !important;
    }
  }
}
